Source: tasks
Section: main
Priority: optional
Maintainer: Kang Lin <kl222@126.com>
Build-Depends: debhelper (>= 6)
Standards-Version:"0.0.7-2-gfba5878"
Homepage: https://github.com/KangLin/Tasks
Vcs-Git: https://github.com/KangLin/Tasks.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/Tasks.git

Package: tasks
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tasks
