[Desktop Entry]
Type=Application
Name=Tasks
GenericName=Tasks
Comment=Tasks
Name[zh_CN]=任务
GenericName[zh_CN]=任务
Comment[zh_CN]=任务
Icon=Tasks
Exec=/opt/Tasks/bin/TasksApp
Terminal=false
StartupNotify=true
Categories=Application;Development;
