[Desktop Entry]
Type=Application
Icon=Calendar
Exec=/opt/Calendar/bin/Calendar.sh
Path=/opt/Calendar
Terminal=false
StartupNotify=true
Categories=Application;Development;Tools;Qt;
MimeType=application/calendar+json;application/calendar+xml;application/octet-stream;text/calendar;text/x-vcalendar;application/vnd.sus-calendar;text/plain;

Name=Calendar
GenericName=Calendar
Comment=Calendar

Name[zh_CN]=日历
GenericName[zh_CN]=日历
Comment[zh_CN]=日历

Name[zh_TW]=日歷
GenericName[zh_TW]=日歷
Comment[zh_TW]=日歷
